/* Activites
*********************************************************************************************/
@import 'variables', 'basics';

#activities {
  min-height: 100vh;
  background-color: $greetings_bg_color;
  padding-bottom: 20px;
  .icon-activities {
    margin-right: 30px;
  }
  .horizontall_centered {
    width: 28.4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    padding-top: 60px;
    margin-bottom: 2%;
    font-size: 7em;
    color: #1EB79D;
    height: 15%;
  }
  li {
    width: 33.3333333333%;
    margin-left: auto;
    margin-right: auto;
    float: left;
    background-color: $greetings_bg_color;
    padding-top: 25px;
    height: 350px;
  }
  .content_col {}
}

.act_wrap_image {
  width: 180px;
  height: 180px;
  //overflow: hidden;
  vertical-align: middle;
  display: block;
  margin: auto;
  //-moz-border-radius: 50%;
  //-webkit-border-radius: 50%;
  //border-radius: 50%;
  //border: 3px #1EB79D solid;
}
.swe_icon {
  margin-left: -3px;
  margin-top: -3px;
}

.gk_icon {
  margin-left: -3.21px;
  margin-top: -3.5px;
}

.dei_icon {
  margin-left: -3px;
  margin-top: -3px;
}

#activities .content_col {
  .content_image {
    width: 180px;
    height: 180px;
  }
  .summary_name {
    font-size: 3em;
    color: #1EB79D;
    padding: 20px 0 10px 0;
    text-align: center;
  }
  .summary_time {
    font-size: 1.5em;
    color: #18927E;
    font-style: italic;
    text-align: center;
  }
  .activity_content_description {
    font-size: 1.5em;
    color: #137565;
    padding: 10px 5px 0 5px;
    line-height: 1.3em;
    text-align: center;
    width:70%;
    margin-left:auto;
    margin-right:auto;
  }
}