.horizontall_centered {
  width: 20.7%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.title {
  font-size: 7em;
  color: $white;
  padding-top: 55px;
  margin-bottom: 2%;
  height: 80px;
}