/* Clearfix
*********************************************************************************************/

.group {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  zoom: 1;
  /* IE6&7 */
}