/* Projects
*********************************************************************************************/
@import 'variables';

#projects {
  min-height: 100vh;
  padding-bottom: 20px;
  .icon-projects {
    margin-right: 30px;
    font-size: 1em;
  }
  .horizontall_centered {
    width: 27.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    padding-top: 60px;
    margin-bottom: 2%;
    font-size: 7em;
    color: $section_header_title_color;
    height: 15%;
    max-height: 150px !important;
    text-align: center;

  }
  .content {
    height: 79.3%;
  }
  li {
    width: 33.3333333333333333%;
    margin-left: auto;
    margin-right: auto;
    float: left;
    padding-top: 25px;
  }
  .content_col {}
}

.pro_wrap_image {
  width: 180px;
  height: 180px;
  overflow: hidden;
  vertical-align: middle;
  display: block;
  margin: auto;
}

.round_image_corner{
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
  border-radius: 20%;
}
#projects .content_col {
  .content_image {
    width: 180px;
    height: 180px;
  }
  .summary_name {
    font-size: 3em;
    color: $project_name_color;
    padding: 20px 0 10px 0;
    text-align: center;
  }
  .summary_time {
    font-size: 1.5em;
    color: $project_time_color;
    font-style: italic;
    text-align: center;
  }
  .project_content_description {
    font-size: 1.5em;
    color: $project_details_color;
    padding: 10px 5px 0 5px;
    line-height: 1.3em;
    text-align: center;
    width:70%;
    margin-left:auto;
    margin-right:auto;
  }
}