/* Typography
*********************************************************************************************/
a {
  text-decoration: none;
  transition-duration: 0.25s;
}

p a, strong {
  font-weight: 700;
}

/*p a {
    border-bottom: 1px solid;
}*/