/* Typography
*********************************************************************************************/

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  transition-duration: 0.25s;
}

p a, strong {
  font-weight: 700;
}

/*p a {
    border-bottom: 1px solid;
}*/