$white:#ffffff;
$home_bg_color:#D3F8E2;
$home_words_color:#FFA69E;//#6DD3CE;
$home_middle_line_color:#e9cfc0;
$home_icons_color:#e9cfc0;//#e9cfc0;
$home_icons_hover_color:#6DD3CE;//#A0CED9;
$skill_color:#E4C1F9;
$work_color:#F694C1;
$projects_color:#6D9DC5;//#96616B;
$activities_color:#F76F8E;
$resume_color:#A9DEF9;
$greetings_bg_color:#EFF7F6;
$section_header_bg_color:#6DD3CE;
$section_header_title_color:#D3F8E2;
$project_bg_color:#D3F8E2;
$project_name_color:#6DD3CE;//#19ABB2;
$project_time_color:#00797F;
$project_details_color:#19ABB2;//#199399;//
$background:url("../images/natural-paper.png")
