$white:#ffffff;
$home_bg_color:#D3F8E2;
$home_words_color:#FFA69E;
$home_icons_color:#e9cfc0;
$home_icons_hover_color:#A0CED9;
$skill_color:#E4C1F9;
$work_color:#F694C1;
$projects_color:#96616B;
$activities_color:#F76F8E;
$resume_color:#A9DEF9;
$section_header_bg_color:#6DD3CE;
$section_header_title_color:#D3F8E2;
$project_name_color:#AEECEF;