$white:#ffffff;
$home_bg_color:#D3F8E2;
$home_words_color:#FF491A;
$home_middle_line_color:#e9cfc0;
$home_icons_color:#F7B2AD;
$home_icons_hover_color:#B4EBCA;
$menu_hover_color:#B4EBCA;
$menu_color:#F28179;//#F7B2AD;
$json_string_color:#FF491A;
$summary_name_color:#6DD3CE;
$work_content_overlay_color:#6DD3CE;
$greetings_bg_color:#EFF7F6;
$section_header_title_color:#CCCCCC;
$project_bg_color:#D3F8E2;
$project_name_color:#6DD3CE;
$project_time_color:#00797F;
$project_details_color:#19ABB2;
$background:url("../images/natural-paper.png");
$hover_bg:url("../images/natural-paper.png");
