@import 'variables';
/* Work
*********************************************************************************************/
$work_icon_padding:60px;

#work {
  min-height: 100vh;
  background-color: $greetings_bg_color;
  .horizontall_centered {
    width: 20.7%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    font-size: 7em;
    color: $section_header_title_color;
    padding-top: 55px;
    margin-bottom: 2%;
    height: 80px;
  }
  .title_wrap {
    background-color: $section_header_bg_color;
    width: 100%;
    padding-bottom: 30px;
    max-height: 150px !important;
  }
  .icon-work {
    font-size: 1em;
    margin-right: 30px;
  }
  .content_wrap {
    border-top: $section_header_bg_color;
    border-top-width: 20px;
    border-top-style: solid;
    padding: 2%;
    .content_row1_col1_title {
      width:50%;
      height:50%;
      float: left;
      background: $greetings_bg_color;
      padding:$work_icon_padding;
      position: relative;

      .content_sf_image {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
      .content_r1c1_overlay {
        opacity:0;
        position: absolute;
        top: 20%;
        font-size:2em;
        color:$section_header_bg_color;
      }
      .content_text{
        .summary_name {
          text-align: center;
          font-size: 3em;
          width: 74.15%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          color: $section_header_bg_color;
          margin-top: 4%;
        }
        .summary_time {
          font-size: 1.5em;
          color: $project_time_color;
          font-style: italic;
          text-align: center;
          width: 35.3%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          padding-top: 1.5%;
        }
      }
    }

    .content_row1_col2_title {
      width:50%;
      height: 50%;
      float: left;
      background: $greetings_bg_color;
      padding:$work_icon_padding;
      .content_sf_image {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
      .content_r1c2_overlay {
        @extend .content_overlay;
      }
      .summary_name {
        text-align: center;
        font-size: 3em;
        width: 74.15%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: $section_header_bg_color;
        margin-top: 4%;
      }
      .summary_time {
        font-size: 1.5em;
        color: $project_time_color;
        font-style: italic;
        text-align: center;
        width: 35.3%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1.5%;
      }
    }
    .content_row2_col1_title {
      width:50%;
      height: 50%;
      float: left;
      background: $greetings_bg_color;
      padding:$work_icon_padding;

      .content_image {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
      .content_r2c1_overlay {
        @extend .content_overlay;
      }
      .summary_name {
        text-align: center;
        font-size: 3em;
        width: 74.15%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: $section_header_bg_color;
        margin-top: 6%;
      }
      .summary_time {
        font-size: 1.5em;
        color: $project_time_color;
        font-style: italic;
        text-align: center;
        width: 35.3%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1.5%;
      }
    }
    .content_row2_col2_title {
      width:50%;
      height: 50%;
      float: left;
      background: $greetings_bg_color;
      padding:$work_icon_padding;
      .content_image {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
      .content_r2c2_overlay {
        @extend .content_overlay;
      }
      .summary_name {
        text-align: center;
        font-size: 3em;
        width: 74.15%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: $section_header_bg_color;
        margin-top: 6%;
      }
      .summary_time {
        font-size: 1.5em;
        color: $project_time_color;
        font-style: italic;
        text-align: center;
        width: 35.3%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1.5%;
      }
    }
  }

  .content_hover_basic:hover{
      display:block;
      opacity: 1;
      background-color: $section_header_title_color;
      display:block;
      .content_text{
      visibility: hidden;
    }
  }
  .content_sf_hover_basic{
    @extend .content_hover_basic;
    .content_sf_image{
      visibility: hidden;
    }
  }
  .content_other_hover_basic{
    @extend .content_hover_basic;
    .content_image{
      visibility: hidden;
    }
  }
  .content_row1_col1_title:hover {
    @extend .content_sf_hover_basic;
    .content_r1c1_overlay {
      opacity:1;
    }
  }
  /*.content_row1_col2_title:hover{
    @extend .content_sf_hover_basic;
    position: relative;
    .content_r1c2_overlay {
      opacity:1;
    }
  }
  .content_row2_col1_title:hover{
    @extend .content_other_hover_basic;
    position: relative;
    .content_r2c1_overlay {
      opacity:1;
    }
  }
  .content_row2_col2_title:hover{
    @extend .content_other_hover_basic;
    position: relative;
    .content_r2c2_overlay {
      opacity:1;
    }
  }*/
}

.content_overlay {
  /*opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  position: absolute;
  top: 20%;
  font-size:2em;
  color:$section_header_bg_color;*/
}