/* Work
*********************************************************************************************/
#work {
  min-height: 100vh;
  background-color: #ffffff;
  border-bottom-color: #1EB79D;
  border-bottom-style: solid;
  border-bottom-width: 20px;
  .title_wrap {
    background-color: #1EB79D;
    width: 100%;
    padding-bottom: 30px;
    max-height: 150px !important;
  }
  .icon-work {
    font-size: 1em;
    margin-right: 30px;
  }
  .content_wrap {
    border-top: #1EB79D;
    border-top-width: 20px;
    border-top-style: solid;
  }
  .horizontall_centered {
    width: 20.7%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    font-size: 7em;
    color: #ffffff;
    padding-top: 55px;
    margin-bottom: 2%;
    height: 80px;
  }
  .content {
    height: 79.3%;
    background-color: #ffffff;
    li {
      float: left;
      width: 49.95%;
      height: 100%;
      display: block;
      border-left: 1px #1EB79D solid;
    }
  }
  .content_row1_col1_title {
    padding: 10.1% 5% 12.2% 5%;
    background-color: #ffffff;
  }
  .content_row1_col1_title:hover{
    background-color: yellow;
  }
  .content_col1_image {
    height: 25%;
    width: 100%;
  }
  .content_row1_col1_title {
    .summary_name {
      font-size: 2.5em;
      width: 78.5%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      color: #1EB79D;
      padding-top: 4%;
    }
    .summary_time {
      font-size: 1.5em;
      width: 25.1%;
      width: 30.1%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      color: #1EB79D;
      padding-top: 1.5%;
    }
  }
  .content_col1_description {
    color: #1EB79D;
    font-size: 1.5em;
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1.3em;
    margin-top: 7%;
  }
  .content_row1_col2_title {
    padding: 10% 5% 12.3% 5%;
    /* height: 40%; */
    background-color: #ffffff;
  }
  .content_col2_image {
    width: 100%;
  }
  .content_row1_col2_title {
    .summary_name {
      font-size: 2.5em;
      width: 74.15%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      color: #1EB79D;
      margin-top: 2%;
    }
    .summary_time {
      font-size: 1.5em;
      width: 35.3%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      color: #1EB79D;
      padding-top: 1.5%;
    }
  }
  .content_col2_description {
    color: #1EB79D;
    font-size: 1.5em;
    display: block;
    width: 77%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1.3em;
    margin-top: 7%;
  }
  .footer {
    height: 10%;
    max-height: 20px;
    background-color: #1EB79D;
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
}

/*#work .ver_divider{
    float: left;
    width: 0.1%;
    height: 94%;
    background-color: #1EB79D;
    margin-top: 1%;
}
#work .ver_divider_top{
    background-color:#1EB79D;
    height: 38.3%;
    width:1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#work .ver_divider_bottom{
    background-color:#ffffff;
    height:100%;
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/

.hidden_content {
  display: none;
}
