@import 'variables', 'work_gen';
/* Work
*********************************************************************************************/

#work {
  min-height: 100vh;
  background-color: $greetings_bg_color;
  .horizontall_centered {
    width: 20.7%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    font-size: 7em;
    color: $section_header_title_color;
    padding-top: 55px;
    margin-bottom: 2%;
    height: 80px;
  }
  .title_wrap {
    background-color: $section_header_bg_color;
    width: 100%;
    padding-bottom: 30px;
    max-height: 150px !important;
  }
  .icon-work {
    font-size: 1em;
    margin-right: 30px;
  }
  .content_wrap {
    border-top: $section_header_bg_color;
    border-top-width: 20px;
    border-top-style: solid;
    padding: 2%;
    .content_row1{
      @extend .content_row;
      height:63%;
      .content_row1_col1_title {
        @extend .gen_content_title;
        .content_sf_image {
          @extend .gen_content_image
        }
        .content_r1c1_overlay {
          @extend .content_overlay;
        }
        .content_text{
          .summary_name {
            @extend .gen_summary_name;
          }
          .summary_time {
            @extend .gen_summary_time;
          }
        }
      }
      .content_row1_col2_title {
        @extend .gen_content_title;
        .content_sf_image {
          @extend .gen_content_image
        }
        .content_r1c2_overlay {
          @extend .content_overlay;
        }
        .content_text{
          .summary_name {
            @extend .gen_summary_name;
          }
          .summary_time {
            @extend .gen_summary_time;
          }
        }
      }
    }
    .content_row2{
      @extend .content_row;
      .content_row2_col1_title {
        @extend .gen_content_title;
        .content_image {
          @extend .gen_content_image
        }
        .content_r2c1_overlay {
          @extend .content_overlay;
          top: 0;
          font-size: 1.5em;
          left: 1%;
        }
        .content_text{
          .summary_name {
            @extend .gen_summary_name;
          }
          .summary_time {
            @extend .gen_summary_time;
          }
        }
      }
      .content_row2_col2_title {
        @extend .gen_content_title;
        .content_image {
          @extend .gen_content_image
        }
        .content_r2c2_overlay {
          @extend .content_overlay;
          top:2%;

        }
        .content_text{
          .summary_name {
            @extend .gen_summary_name;
          }
          .summary_time {
            @extend .gen_summary_time;
          }
        }
      }
    }
  }
  .content_row1 .content_row1_col1_title:hover {
    @extend .content_sf_hover_basic;
     .content_r1c1_overlay {
      //opacity:1;
      /*-webkit-filter: blur(20px);
      -moz-filter: blur(15px);
      -o-filter: blur(15px);
      -ms-filter: blur(15px);
      filter: blur(15px);*/
      filter: blur(1px);
      opacity: 1;
      .content_r1c1_description{
        filter: blur(0px);
        opacity: 1;
      }
    }
  }
  .content_row1 .content_row1_col2_title:hover{
    @extend .content_sf_hover_basic;
    .content_r1c2_overlay {
      filter: blur(1px);
      opacity: 0.95;
      .content_r1c2_description{
        filter: blur(0px);
        opacity: 1;
      }
    }
  }
  .content_row2 .content_row2_col1_title:hover{
    @extend .content_other_hover_basic;
    .content_r2c1_overlay {
      opacity:1;
    }
  }
  .content_row2 .content_row2_col2_title:hover{
    @extend .content_other_hover_basic;
    .content_r2c2_overlay {
      opacity:1;
    }
  }
}

