@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-1vw7xm');
	src:url('../fonts/icomoon.eot?#iefix-1vw7xm') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-1vw7xm') format('woff'),
		url('../fonts/icomoon.ttf?-1vw7xm') format('truetype'),
		url('../fonts/icomoon.svg?-1vw7xm#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mark-github:before {
	content: "\f00a";
}
.icon-organization:before {
	content: "\f037";
}
.icon-briefcase:before {
	content: "\e602";
}
.icon-chevron-down:before {
	content: "\f078";
}
.icon-linkedin-square:before {
	content: "\f08c";
}
.icon-code:before {
	content: "\f121";
}
